/*
	Website:  		Cycling Widgets - PHP Class Project
	Developer:		Stephen Jose
	Created On:
	Revised On:
	CSS Version: 	3
	
	Purpose:
	
	Related Files:
		index.php
		
*/

/* ------------------ Reset ------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.25;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------ End Reset ------------------ */

#container {
	max-width: 960px;
	font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
	background-color: #E5CA85;
	margin: 0 auto;
}


/* ------------------ Header ------------------ */
header{
	background-color: #2b2b2b;
	text-align: center;
}

header h1{	
	display: inline-block;
	font-size: 400%;
	color: #fff;
	padding-bottom: 40px;
}


/* ------------------ #Main ------------------ */

#main widgets{
	background-color: #2b2b2b;
}

#main #widgets+section{
	padding: 10px;
	font-family:Constantia,Georgia,'Nimbus Roman No9 L',serif;
	text-align: center;
}
	
	#main #widgets+section h2{
		font-size: 200%;
		font-weight: 700;
	}
	
	#main #widgets+section p{
		padding: 5px 0;
		font-size: 125%;
	}
	
#main #widgets img{
	border-radius: 40px 40px 0 0;
	margin-top: -40px;
}	

#main form{
	border-bottom: 10px solid #B79A52;
	border-radius: 0 0 40px 40px;
	
	
}
	
#main form h1{
	color: #E5CA85;
	background-color: #2b2b2b;
	border-top: 10px solid #B79A52;
	border-radius: 40px 40px 0 0;
	text-align: center;
	font-size: 200%;	
}

#main form p{
	padding: 10px 20%;
	font-size: 120%;
	text-align: center;
}

#main #widgetpics{
	margin: 0 auto;
	padding: 5px;	
	text-align: center;
	
}

	#main #widgettitle{
		font-size: 120%;
	}

	#main #widgetpics tr{
		float: left;
		
	}

	#main #widgetpics td{
		display: block;		
		
		margin: 5px 20px;
		background-color: #B79A52;
		border: 1px solid #999;
		border-radius: 10px;
		
	}	
	
	#main #widgetpics #image{
		background-color: #E5CA85;
		border: none;
	}	
	
		#main #widgetpics td span{
			font-size: 70%;
		}
	
	#main #widgetpics input{
		width: 30px;
		border-radius: 7px;		
	}

#main #contactform{
	width: 68%;
	margin: 0 auto;
}	

	#main #contactform label{
		display: inline-block;
		width: 140px;
		font-size: 110%;
		text-align: right;
		padding-right: 8px;
	}
	
	#main #contactform input{
		border-radius: 7px;	
		width: 35%;
	}
	
	#main #contactform ul{		
		border-top: 5px solid #B79A52;
		border-bottom: 5px solid #B79A52;
		border-radius: 15px;
		margin: 10px 30px;
		padding: 10px 0;
	}	
	
	#main #contactform li{
		text-align: center;
	}
	
		#main #contactform li span{			
			display: inline-block;
			width: 140px;
			font-size: 110%;
			text-align: right;
			padding-right: 12px;
		}
		
		#main #contactform li span+span{
			text-align: left;
			
		}
	
	#main input[type="submit"]{
		display: block;
		margin: 10px auto;		
	}
		



	

		
		
/* ------------------ Footer ------------------ */	 

footer{	
	background-color: #2b2b2b;
	text-align: center;

}

